<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOGS_DIR" value="logs/" />
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{HH:mm:ss.SSS} [%thread] %-5level [%file:%line] - %msg%n
            </Pattern>
        </layout>
    </appender>
    <logger name="com.epamlearning.moksiakova.lessons.lesson8.Cache" level="debug" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="com.epamlearning.moksiakova.lessons.lesson8.Storage" level="debug" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="com.epamlearning.moksiakova.lessons.lesson8.Main" level="debug" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>
</configuration>