<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOGS_DIR" value="logs/" />
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %date |- %level in %file:%line - %msg%n
            </Pattern>
        </layout>
    </appender>
    <logger name="com.epamlearning.moksiakova.lessons.lesson9.Main" level="debug" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="com.epamlearning.moksiakova.lessons.lesson9.AnnotationHandler" level="debug" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>
</configuration>